<header class="header">
  <img width="80" src="../assets/rviewer-logo.svg" class="rviewerLogo" alt="Rviewer logo"/>
  <h3>
    Welcome to the Rviewer Angular skeleton!
  </h3>
</header>

<div class="home">
  <p>
    Here you would find a Angular bootstrapped webapp where you could start coding without taking care
    about configuring so many things, and just focus on the code!
  </p>
  <p>
    You could start modifying the <code>src/app/app.component.html</code> file to see any change in the webapp.
  </p>
</div>
